<main class="flex-shrink-0">
    <div class="container text-center">
      <h4 class="mt-5">Giriş Yaparak Blog Yazını Yayınlayabilirsin</h4>
      <h4>
        Tamamen Ücretsiz !
      </h4>
      <br>
      <p class="lead">
        <mark>Henüz Giriş Yapmadın mı? <a href="/login"
        >Hemen Giriş Yap</a
      ></mark
      </p>
    
    </div>
</main>