<main class="flex-shrink-0">
    <div class="container text-center">
      <h4 class="mt-5">Üye Olarak Blog Yazını Yayınlayabilirsin</h4>
      <h4>
        Tamamen Ücretsiz !
      </h4>
      <br>
      <p class="lead">
        <mark>Henüz Üye Değilmisin <a href="/signup"
        >Hemen Üye Ol</a
      ></mark
      </p>
    
    </div>
</main>