<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head') %>
  </head>
  <body>
    <%-include('./inc/nav') %>
  </body>
  <section>
    <form action="/admin/add" method="post">
      <input type="text" name="title" placeholder="Baslik" required />
      <input type="text" name="short" placeholder="Aciklama" required />
      <input type="text" name="long" placeholder="Icerik" required />
      <input type="submit" value="Kaydet" />
    </form>
  </section>
</html>
