<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head') %>
  </head>
  <body>
    <%-include('./inc/nav') %>
  </body>
  <section>
    <form action="" method="post">
      <input type="text" name="username" placeholder="Kullanici Adi" required />
      <input type="password" name="password" placeholder="Parola" required />
      <input type="submit" value="Kayit" />
    </form>
  </section>
</html>
