<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/profile/updateprofile" method="post">
      <div class="row mt-2">
        <div class="col-md-6">
          <i class="bi bi-gear-fill"></i> İsminiz<label class="labels"></label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="İsminiz"
            required
          />
        </div>
      </div>

    

      <button class="w-100 btn btn-lg btn-primary" type="submit" value="Kaydet">
        Oturum Aç!
      </button>
    </form>
  </body>
</html>
